In [2]:
from pyspark.sql import SparkSession

In [3]:
session = SparkSession.builder.appName("UKProp").getOrCreate()

In [4]:
df = session.read.csv("data/pp-2018-part1.csv", inferSchema=True, header=True)

In [5]:
df.printSchema()

root
 |-- Id: string (nullable = true)
 |-- price: integer (nullable = true)
 |-- transferDate: string (nullable = true)
 |-- postcode: string (nullable = true)
 |-- propertyType: string (nullable = true)
 |-- oldOrNew: string (nullable = true)
 |-- duration: string (nullable = true)
 |-- paon: string (nullable = true)
 |-- saon: string (nullable = true)
 |-- street: string (nullable = true)
 |-- locality: string (nullable = true)
 |-- city: string (nullable = true)
 |-- district: string (nullable = true)
 |-- county: string (nullable = true)
 |-- ppdCategoryType: string (nullable = true)
 |-- recordStatus: string (nullable = true)